<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>DaveAi Assignment</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="https://scontent.fpnq8-1.fna.fbcdn.net/v/t39.30808-6/292272733_428225099322369_8947856336756460116_n.png?_nc_cat=107&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=-2cRX-lQ9-QAX8Ji1Oc&_nc_ht=scontent.fpnq8-1.fna&oh=00_AfDyjna93OBZNn2Aa8bH-R5gWk3F6ilv4PrFq3DxohLm-w&oe=63A8C9E1" rel="icon">
  <link href="https://scontent.fpnq8-1.fna.fbcdn.net/v/t39.30808-6/292272733_428225099322369_8947856336756460116_n.png?_nc_cat=107&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=-2cRX-lQ9-QAX8Ji1Oc&_nc_ht=scontent.fpnq8-1.fna&oh=00_AfDyjna93OBZNn2Aa8bH-R5gWk3F6ilv4PrFq3DxohLm-w&oe=63A8C9E1" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
  s
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <div class="social-links mt-3 text-center">
          <a href="https://github.com/its-kind-of" class="twitter"><i class="bx bxl-github"></i></a>
          <a href="https://www.linkedin.com/in/nikhil-shendge-7a064b175/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>


  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Nikhi Shendge</h1>
      <p>I'm <span class="typed" data-typed-items="Designer, Developer, Freelancer, Poet"></span></p>
    </div>
  </section><!-- End Hero -->

  <main id="main">



  </main><!-- End #main -->
<center>
        <form method="POST", action="{{url_for('home')}}">
           <b> Number of people :  <input type="text", name='a', placeholder="enter"> <br><br>
            Number of Buses :  <input type="text", name='b', placeholder="enter"> <br><br>
            <input type="submit" , value='count' >
        </form>



          <h3>The output :{{ output }}</h3>

</center>

  <!-- Vendor JS Files -->
  <script src="static//vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/assets/vendor/aos/aos.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets/vendor/typed.js/typed.min.js"></script>
  <script src="static/assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>

</body>

</html>